debug
*.test
*.out
gitignore
examples/minimal/index.html
bin/hindsite
bin/hindsite.exe
build/
doc/index.md
.vscode/
builtin/blog/content/
builtin/blog/build/
builtin/minimal/content/
builtin/minimal/build/
benchmark.zip