debug
*.test
*.out
gitignore
examples/minimal/index.html
bin/
build/
doc/index.md
.vscode/
builtin/blog/content/
builtin/blog/build/
builtin/minimal/content/
builtin/minimal/build/
hindsite-benchmark*
vendor/