debug
*.test
*.out
gitignore
examples/minimal/index.html
bin/hindsite
bin/hindsite.exe
build/
doc/index.md
.vscode/
examples/builtin/blog/content/
examples/builtin/blog/build/
examples/builtin/minimal/content/
examples/builtin/minimal/build/
examples/blog/
examples/benchmark.zip