{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width"/>
<title>{{or .title .user.title}}</title>
<link type="text/css" rel="stylesheet" href="/main.css">
{{if eq .user.highlightjs "yes" -}}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css">
{{- else}}{{end}}
</head>
<body>
<div class="banner no-print">
  <a href="/index.html">{{.user.banner}}</a>
</div>
<ul class="menu no-print">
  <li><a href="/indexes/posts/docs-1.html">Posts</a></li>
  <li><a href="/indexes/posts/tags.html">Tags</a></li>
  <li><a href="/indexes/newsletters/docs-1.html">News</a></li>
  <li><a href="/about.html">About</a></li>
  <li><a href="/search.html">Search</a></li>
</ul>
<div id="main">
{{end}}

{{define "footer"}}
    </div>
{{if eq .user.highlightjs "yes" -}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
<script>
hljs.configure({languages: []}); {{- /* Disable language auto-detection */}}
hljs.highlightAll();
</script>
{{- else}}{{end}}
</body>
</html>
{{end}}

{{define "doctags"}}
<span class="doctags">
    {{range .}}
    &middot; <a href="{{.url}}">{{.tag}}</a>
    {{end}}
</span>
{{end}}

{{define "docfooter"}}
<div class="docsfooter no-print">
    <div>
        <span class="left">
            {{if .prev.url}}
            « <a href="{{.prev.url}}">Previous</a>
            {{else}}
            <span class="disabled">« Previous</span>
            {{end}}
        </span>
        <span class="right">
            {{if .next.url}}
            <a href="{{.next.url}}">Next</a> »
            {{else}}
            <span class="disabled">Next »</span>
            {{end}}
        </span>
    </div>
    <div class="clear"></div>
</div>
{{template "disqus" .}}
{{end}}

{{define "docsfooter"}}
<div class="docsfooter">
    <div>
        <span class="left">
            {{if .prev.url}}
            « <a href="{{.first.url}}">First</a> &nbsp;&nbsp; « <a href="{{.prev.url}}">Newer</a>
            {{else}}
            <span class="disabled">« First &nbsp;&nbsp; « Newer</span>
            {{end}}
        </span>
        <span class="right">
            {{if .next.url}}
            <a href="{{.next.url}}">Older</a> » &nbsp;&nbsp; <a href="{{.last.url}}">Last</a> »
            {{else}}
            <span class="disabled">Older » &nbsp;&nbsp; Last »</span>
            {{end}}
        </span>
    </div>
    <div class="clear"></div>
</div>
{{end}}

{{define "disqus"}}
{{/*
    If the user `shortname` variable is set and the document `id` is
    non-blank then Disqus comments are inserted.
*/}}
{{if and .id .user.shortname}}
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = '{{.url}}';
        this.page.identifier = '{{.id}}';
    };
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{.user.shortname}}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{end}}
{{end}}