  :root {
    --primary-color: #2362a1;
    --primary-background: white;
    --text-color: #333333;
    --link-color: #428bca;
    --serif-font: "PT Serif", Georgia, "Times New Roman", serif;
    --sans-font: "PT Sans", Helvetica, Arial, sans-serif;
    --mono-font: Consolas, "Andale Mono", Monaco, monospace;
    --mono-size: 90%;
    --border: 1px solid #dddddd;
    --border-radius: 5px;
    --code-background: #f8f8f8;
    --sidebar-background: #ffffee;
    --max-text-width: 55rem;

    font-size: 16px;
    color: var(--text-color);
    background-color: var(--primary-background);
    font-family: var(--sans-font);
  }

  * {
    margin: 0;
    padding: 0;
    white-space: inherit;
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: 600;
    color: var(--primary-color);
  }

  h1 {
    font-size: 2.1rem;
    line-height: 40px;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1.0rem;
  }

  h6 {
    font-size: 0.9rem;
  }

  h2, h3, h4, h5, h6 {
    line-height: normal;
    margin-top: 1.0rem;
    margin-bottom: 0.2rem;
  }

  h2 {
    margin-top: 1.5rem;
    border-bottom: var(--border);
  }

  p>img:only-child {
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

  td, th {
    text-align: left;
    vertical-align: top;
  }

  table.bordered>tbody>tr>th,
  table.bordered>tbody>tr>td {
    border: var(--border);
  }

  a, a:hover {
    color: var(--link-color);
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  p, pre, li, dt, dd, blockquote p {
    line-height: 1.45;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
  }

  dt {
    margin-bottom: 0;
    font-style: italic;
  }

  dd {
    margin-left: 1.0rem;
    margin-top: 0;
  }

  blockquote {
    padding: 0 0 0 15px;
    border: none;
    border-left: 5px solid #eeeeee;
    font-family: Georgia, Times, serif;
    width: 80%;
    margin: 1.5em 0;
    color: #383838;
  }

  .cite {
    color: #777;
    padding: 5px 0;
  }

  .cite::before {
    content: "\2014 \2009";
  }

  code {
    font-family: var(--mono-font);
    font-size: var(--mono-size);
    background-color: var(--code-background);
  }

  pre {
    font-family: var(--mono-font);
    line-height: normal;
    white-space: pre-wrap;
    background-color: var(--code-background);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0;
  }

  *:not(pre)>code {
    white-space: nowrap;
  }

  .dl-horizontal>dd {
    margin-top: 1.0rem;
  }

  pre>code {
    background-color: inherit;
    display: block;
    padding: 0.5em !important;
    border-radius: var(--border-radius);
  }

  pre span {
    opacity: 1 !important;
  }

  .verse {
    margin: 1.5em 20px;
  }

  div.verse p, p.verse {
    font-family: Georgia, Times, serif;
    white-space: pre-wrap;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .sidebar,
  .important,
  .note,
  .tip,
  .warning {
    margin: 1.5em 0;
    padding: 10px;
    border-radius: var(--border-radius);
  }

  div.sidebar *:first-child,
  div.important *:first-child,
  div.note *:first-child,
  div.tip *:first-child,
  div.warning *:first-child {
    margin-top: 0.2rem !important;
  }

  .note::before,
  .important::before,
  .tip::before,
  .warning::before {
    font-weight: bold;
  }

  .notitle::before {
    content: "" !important;
  }

  .sidebar {
    background: var(--sidebar-background);
    border: var(--border);
  }

  .note {
    background-color: #f0f7fb;
    border-left: solid 4px #3498db;
  }

  div.note::before {
    content: "Note";
  }

  p.note::before {
    content: "Note: ";
  }

  .tip {
    background-color: #e7f6ef;
    border-left: solid 4px #32c875;
  }

  div.tip::before {
    content: "Tip";
  }

  p.tip::before {
    content: "Tip: ";
  }

  .warning {
    background-color: #fdf7f2;
    border-left: solid 4px #d1534a;
  }

  div.warning::before {
    content: "Warning";
  }

  p.warning::before {
    content: "Warning: ";
  }

  .important {
    background-color: #fffbea;
    border-left: solid 4px #eec51c;
  }

  div.important::before {
    content: "Important";
  }

  p.important::before {
    content: "Important: ";
  }

  .page-break {
    page-break-before: always;
  }

  .no-page-break {
    page-break-inside: avoid;
  }

  .align-left {
    text-align: left;
  }

  .align-center {
    text-align: center;
  }

  .align-right {
    text-align: right;
  }

  .preserve-breaks {
    white-space: pre;
  }

  .line-breaks {
    white-space: pre-wrap;
  }

  .dl-horizontal:before, .dl-horizontal:after {
    display: table;
    content: "";
    line-height: 0;
  }

  .dl-horizontal:after {
    clear: both;
  }

  .dl-horizontal>dt {
    float: left;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    margin-top: 1.0rem;
    width: 25%;
  }

  .dl-horizontal>dd {
    margin-left: 25%;
    padding-left: 1.0rem;
  }

  @media print {
    .no-print, .no-print * {
      display: none !important;
    }

    a:hover {
      text-decoration: none !important;
    }
  }

  /* Docs template specific  styles */
  #toc h2 {
    font-size: 125%;
    padding-left: 1rem;
    margin-top: 1.0rem;
    margin-left: 0;
  }

  #toc .h1 {
    font-size: 110%;
    font-weight: bold;
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
  }

  #toc .h2 {
    padding-left: 1rem;
    margin-top: 0.4rem;
  }

  #toc .h3 {
    padding-left: 2.5rem;
    font-size: 90%;
    margin-top: 0.2rem;
  }

  #toc div[class^="h"]:nth-child(even) {
    background-color: #f8f8f8;
  }

  #auto-toc {
    width: 100%;
  }

  #toc a, #toc a:hover {
    color: var(--primary-color);
  }

  #main {
    z-index: 1;
    min-height: 100%;
    max-width: var(--max-text-width);
    margin-left: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  #article {
    padding-top: 1px;
  }

  #main {
    margin-left: 340px;
  }

  #nav {
    z-index: 3;
    position: fixed;
    left: 0;
    height: 100%;
    width: 40px;
    background-color: var(--primary-color);
    color: white;
  }

  #sidebar {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin-left: 40px;
    width: 300px;
    overflow: auto;
    border-right: 1px solid #ccc;
    background: #eee;
  }

  body.hide-toc #sidebar {
    width: 0;
  }

  body.hide-toc #main {
    margin-left: 40px;
  }

  #toc-button {
    cursor: pointer;
    color: white;
    font-size: 48px;
    line-height: 40px;
    font-family: Arial, sans-serif;
    display: inline-block;
    padding-left: 5px;
  }

  @media not screen and (min-width: 1px) and (max-width: 800px) {
    #sidebar {
      opacity: 1;
      transition: opacity 0.2s ease;
    }

    body.hide-toc #sidebar {
      width: 0;
      opacity: 0;
    }

    #main {
      transition: margin-left 0.2s ease;
    }

    body.hide-toc #main {
      transition: margin-left 0.2s ease;
    }
  }

  @media screen and (min-width: 1px) and (max-width: 800px) {
    body:not(.hide-toc) {
      overflow: hidden;
    }

    body:not(.hide-toc) #sidebar {
      width: 100%;
    }

    #main {
      margin-left: 40px;
    }

    body:not(.hide-toc) #main {
      visibility: hidden;
    }

    #toc {
      margin-right: 40px;
    }
  }

  @media screen and (min-width: 1px) and (max-width: 800px) {
    body {
      font-size: larger;
    }

    #main {
      padding-left: 10px;
      padding-right: 10px;
    }

    * {
      overflow-wrap: break-word;
    }

    p>img:only-child {
      max-width: 100%;
    }
  }

  @media print {
    #main {
      margin-left: 0;
    }
  }