{{define "header"}}
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<title>{{or .title "Title"}}</title>
<link type="text/css" rel="stylesheet" href="/main.css">
{{if eq .user.highlightjs "yes" -}}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css">
{{- else}}{{end}}
</head>
<body>
<div id="nav" class="no-print">
    <span id="toc-button">&#8801;</span>
</div>
<div id="sidebar" class="no-print">
<div id="toc" class="no-print">
  <h2>Links</h2>
  <div class="h2"><a href="/index.html">Reference</a></div>
  <div class="h2"><a href="/faq.html">FAQ</a></div>
  <div class="h2"><a href="/changelog.html">Change Log</a></div>
  <div class="h2"><a href="https://github.com/srackham/hindsite">Github</a></div>
{{if eq .user.toc "yes" -}}
  <h2>Table of Contents</h2>
  <div id="auto-toc"></div>
{{- else}}{{end}}
</div>
</div>
<div id="main">
<div id="article">
{{end}}

{{define "footer"}}
</div>
</div>
<script src="/main.js"></script>
{{if eq .user.highlightjs "yes" -}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
{{- else}}{{end}}
<script>
{{if eq .user.highlightjs "yes" -}}
hljs.configure({languages: []}); {{- /* Disable language auto-detection */}}
hljs.highlightAll();
{{- else}}{{end}}
window.onload = function() {
  var headings = [].slice.call(document.body.querySelectorAll('#article > h1, #article > h2, #article > h3'));
  headings.forEach(function(heading) {
    setHeaderLink(heading);
    appendTocEntry(heading);
  });
  if (isSmallScreen()) {
    toggleToc();  // Hide TOC.
  }
}
</script>
</body>
</html>
{{end}}